<h1>マイページ</h1>
<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h1 class="float-left mb-5"><%= @user.name %></h1>
      <%= link_to t('defaults.edit'), edit_user_path, class: 'btn btn-success float-right' %>
      <table class="table">
        <tr>
          <th scope="row"><%= User.human_attribute_name(:name) %></th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th scope="row"><%= User.human_attribute_name(:email) %></th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th scope="row"><%= User.human_attribute_name(:avatar) %></th>
          <td><%= image_tag @user.avatar.url, class: 'rounded-circle', size: '50x50' %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="event-tab" data-bs-toggle="tab" data-bs-target="#event-tab-pane" role="tab" aria-controls="event-tab-pane" aria-selected="true">イベント投稿一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="event-entry-tab" data-bs-toggle="tab" data-bs-target="#event-entry-tab-pane" role="tab" aria-controls="event-entry-tab-pane" aria-selected="false">イベントエントリー済み</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"id="event-like-tab" data-bs-toggle="tab" data-bs-target="#event-like-tab-pane" role="tab" aria-controls="event-like-tab-pane" aria-selected="false">お気に入り済み</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- パネル部分 -->
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane active" id="event-tab-pane" role="tabpanel" aria-labelledby="event-tab" tabindex="0">
      <%= render 'events/event-post' %>
    </div>
    <div class="tab-pane" id="event-entry-tab-pane" role="tabpanel" aria-labelledby="event-entry-tab" tabindex="0">
      <%= render 'events/event-entry' %>
    </div>
    <div class="tab-pane" id="event-like-tab-pane" role="tabpanel" aria-labelledby="event-like-tab" tabindex="0">
      <%= render 'events/event-like' %>
    </div>
  </div>
</div>
