<div class="container">

  <div class="row">
    <div class="col">
      <div class="card shadow-sm">
        <%= image_tag @event.images[0], class: "event-img" %>
        <% if @event.available_slots == 0 %>
          <div class='end-of-recruitment'>
            <span>募集終了</span>
          </div>
        <% end %>

        <div class="card-body">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th scope="row" class="table-active">タイトル</th>
                <td><%= @event.title %></td>
              </tr>
              <tr>
                <th scope="row" class="table-active">主催者</th>
                <td><%= @event.user.name %></td>
              </tr>
              <tr>
                <th scope="row" class="table-active">説明</th>
                <td><%= @event.description %></td>
              </tr>
              <tr>
                <th scope="row" class="table-active">カテゴリー</th>
                <td><%= @event.category.name %></td>
              </tr>
              <tr>
                <th scope="row" class="table-active">集合場所</th>
                <td><%= @event.meeting_place %></td>
              </tr>
              <tr>
                <th scope="row" class="table-active">帰着場所</th>
                <td><%= @event.return_place %></td>
              </tr>
              <tr>
                <th scope="row" class="table-active">走行距離</th>
                <td><%= @event.distance %>km</td>
              </tr>
              <tr>
                <th scope="row" class="table-active">獲得標高</th>
                <td><%= @event.climbing %>m</td>
              </tr>
              <tr>
                <th scope="row" class="table-active">出発日時</th>
                <td><%= @event.start_time.strftime('%Y年%m月%d日%H時%M分') %></td>
              </tr>
              <tr>
                <th scope="row" class="table-active">解散日時</th>
                <td><%= @event.end_time.strftime('%Y年%m月%d日%H時%M分') %></td>
              </tr>
              <tr>
                <th scope="row" class="table-active">募集人数</th>
                <td><%= @event.available_slots %>/<%= @event.capacity %>人</td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between align-items-center">
            <% unless @event.available_slots == 0 %>
              <% if user_signed_in? && current_user.id == @event.user_id %>
                <div class="btn-group mx-auto">
                  <%= link_to "編集", "/events/#{@event.id}/edit", method: :get, class: "btn btn-primary rounded-pill btn-lg" %>
                  <%= link_to "削除", event_path(@event.id), method: :delete, class: "btn btn-danger rounded-pill btn-lg" %>
                </div>
              <% elsif current_user.attendances.where(event: @event).exists? %>
                <button type="button" class= "btn btn-danger rounded-pill btn-lg mx-auto" disabled>エントリー済み</button>
              <% elsif user_signed_in? %>
                <%= link_to "エントリーする", entry_event_path(@event.id), method: :post, class: "btn btn-danger rounded-pill btn-lg mx-auto" %>
              <% end %>
            <% end %>
          </div><br>
          <p class="h2">コメント</p>
          <hr class="border border-primary border-2 opacity-50">
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Comments</label><br>
            <button type="button" class="btn btn-primary rounded-pill btn-lg mx-auto">コメントする</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>